/* ضبط الصفحة */
body {
    font-family: Arial, sans-serif;
    background-color: #9ac0c3;
    margin: 20px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* حاوية الصفحة */
.container {
    width: 400px;
    background-color: #80a4ae;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    border: double 3px black;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 600px;
    width: 900px;
}

/* حاوية إدخال المهام */
.border_for_todo_input {
    border: solid 3px black;
    width: 90%;
    padding: 20px;
    box-shadow: 3px 3px 4px 4px #005f7f;
    margin: 20px auto;
}

/* حقل الإدخال وزر الإضافة */
#new_todo {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 2px #008cba;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add_task {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#add_task:hover {
    background-color: #005f7f;
}

/* قائمة المهام */
.todo-list {
    margin-top: 20px;
}

#todo-list {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    padding: 10px;
    list-style: none;
    margin: 0 auto;
    width: 80%;
    box-sizing: border-box;
}

/* العناصر الفردية في القائمة */
#todo-list li {
    word-wrap: break-word;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* الأزرار لتصفية المهام */
.filters {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    gap: 10px;
    width: 80%;
}

.filters button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filters button:hover {
    background-color: #005f7f;
}

/* زر القلم */
.edit-button {
    background-color: transparent;
    border: none;
    font-size: 16px; /* تم تصغير الحجم هنا */
    cursor: pointer;
    margin-left: 10px; /* لضمان بقاء القلم قريبًا من النص */
    color: #008cba;
    transition: color 0.3s;
}

.edit-button:hover {
    color: #005f7f;
}

/* تحسين تنسيق الحذف */
.delete-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: red;
    transition: color 0.3s;
}

.delete-button:hover {
    color: darkred;
}
